html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.container-logout {
  text-align: right;
  padding: 2rem;
}
.container-logout .logout {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  text-align: right;
}
.fondo_login {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.login {
  width: 400px;
  margin: 150px auto;
  font-size: 16px;
}
.login-header,
.login input {
  margin-top: 0;
  margin-bottom: 0;
}
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}
.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.login-container {
  background: #ebebeb;
  padding: 12px;
}
.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}
.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.login input[type="submit"]:hover {
  background: #17c;
}
.login input[type="submit"]:focus {
  border-color: #05a;
}
header .header-container ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: #28d;
  padding: 1rem 0;
}
header .header-container ul a {
  text-decoration: none;
  color: white;
}
.container-admin {
  font-size: 1.6rem;
}
.container-admin h2 {
  text-align: center;
}
.container-admin table {
  border-spacing: 0!important;
  border-collapse: collapse;
}
.container-admin table th,
.container-admin table td {
  padding: 1rem;
}
.container-admin table thead th {
  text-align: left;
  background-color: #28d;
  color: white;
}
.container-admin table thead th:first-of-type {
  border-top-left-radius: 0.5rem;
}
.container-admin table thead th:last-of-type {
  border-top-right-radius: 0.5rem;
}
.container-admin table tbody tr:nth-child(even) {
  background-color: #ebebeb;
}
.container-admin table tbody tr:nth-child(odd) {
  background-color: white;
}
.container-admin table tbody tr td:first-child a {
  text-decoration: none;
  color: #28d;
}
.container-admin table tbody tr td:first-child a:hover {
  color: black;
}
.admin--table {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.volver {
  text-align: right;
}
.libre {
  color: #039903;
}
.ocupada {
  color: red;
}
.historico {
  font-size: 1.6rem;
}
.historico .historico-filtro {
  width: max-content;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: #f4f4f4;
  margin-bottom: 4rem;
}
.historico .historico-filtro input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin-left: 1rem;
  border: 1px solid #dadada;
}
.historico .historico-filtro input[type='submit'] {
  background-color: #28d;
  color: white;
  margin-left: 0;
  padding: 0.8rem 2rem;
  display: inline-block;
  width: 100%;
}
.historico .indicaciones {
  font-size: 1.2rem;
  color: #636363;
}